<!-- Botão De cadastro de empréstimos -->
<po-button p-label="Registrar Empréstimo" p-kind="primary" (p-click)="abrirModalCriacao()" style="margin-bottom: 10px"></po-button>

<!-- Modal para criação de empréstimos -->
<po-modal (p-close)="resetAll()" #modalForm [p-title]="'Registrar Empréstimo'">
  <po-dynamic-form #dynamicForm [p-fields]="fields"></po-dynamic-form>
  <po-modal-footer>
    <!-- Ação de Cadastro: chama apenas registrarEmprestimo() -->
    <po-button p-label="Confirmar" p-kind="primary"
      (p-click)="registrarEmprestimo()"> </po-button>
    <po-button p-label="Fechar" (p-click)="modalForm.close()"> </po-button>
  </po-modal-footer>
</po-modal>

<!-- Tabela de exibição dos empréstimos -->
<po-table [p-columns]="columns" [p-items]="emprestimos" [p-striped]="true" [p-sort]="true" [p-hide-columns-manager]="true" p-container="shadow"></po-table>