<!-- Botão De cadastro de usuários -->
<po-button p-label="Cadastrar Usuário" p-kind="primary" (p-click)="abrirModalCriacao()" style="margin-bottom: 10px"></po-button>

<!-- Modal para criação de usuários -->
<po-modal (p-close)="resetAll()" #modalForm [p-title]="'Adicionar Usuário'">
  <po-dynamic-form #dynamicForm [p-fields]="fields"></po-dynamic-form>
  <po-modal-footer>
    <!-- Ação de Cadastro: chama apenas cadastrarUsuario() -->
    <po-button p-label="Confirmar" p-kind="primary"
      (p-click)="cadastrarUsuario()"> </po-button>
    <po-button p-label="Fechar" (p-click)="modalForm.close()"> </po-button>
  </po-modal-footer>
</po-modal>

<!-- Tabela de exibição dos usuários -->
<!-- Note que as ações foram removidas nas colunas e no TypeScript -->
<po-table [p-columns]="columns" [p-items]="usuarios" [p-striped]="true" [p-sort]="true" [p-hide-columns-manager]="true" p-container="shadow"></po-table>